#pagination {
  width: container-width-84;
  margin: 5% auto 7% auto;
  display: flex;
  align-items: center;
}
.page-number,
.extend {
  width: pagination-button-width;
  height: pagination-button-height;
  line-height: pagination-button-height;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: pagination-button-color;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.5s;
}
.page-number:hover,
.extend:hover,
.page-number.current {
  background-color: active-color;
  color: #fff;
  border-color: #fff;
  text-decoration: none;
}
#pagination .page-number,
#pagination .extend {
  margin: 0 0.5%;
}
