@charset "UTF-8";
/*
 * 为大部分元素取消默认的外边距、内边距
 */
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, txtarea, select, td {
  margin: 0;
  padding: 0;
}

/**
 * body 设置字体 12px
 * 设置只要遇到空格就换行，中文会自动换行，英文/数字遇空格才会换行
 */
body {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  word-wrap: break-word;
}

html, body {
    height: 100%;
}

a, u, s, del {
  color: #666;
  text-decoration: none;
}

/**
 * 取消边框
 * a img 是 IE 下才有的效果，默认会有一个边框
 */
fieldset, a img, .noborder {
  border: 0;
}

i, em, b {
  font-style: normal;
  font-weight: normal;
}

/**
 * 设置 li 取消小圆点
 */
li {
  list-style: none;
}

/**
 * 设置图片垂直居中
 */
img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

/**
 * 设置文本框选中时，不会出现蓝色框（在 Chrome 下会有这个效果）
 */
input, textarea {
  outline: none;
}

/**
 * 设置多行文本框不会被拉伸调整大小
 */
textarea {
  resize: none;
}

/**
 * 取消 mark 的默认背景
 */
mark {
  background: none;
}

/**
 *	垂直居中
 */
.valign:after {
  content: "";
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}

.valign img {
  vertical-align: middle;
}
